*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: 100%;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */


.logo{
    width: 139px;
    padding-left: 126.5px;
    padding-bottom: 16px;
    text-align: left;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    text-align: center;
    justify-content:center;
    

}

/* menu style */

header{
    padding: 0px auto;
    padding-top: 16px;

}
nav{
    width: 100%;
    max-width: 1360px;
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    font-weight:500;
    color:#000000;
    text-decoration: none;

}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12.5px 16px;
    font-weight: 600;
    cursor: pointer;

}
.nav-btn{
    padding-bottom: 24;
    padding-right: 110px;
    text-align: auto;

}
nav div{
    display: flex;
    justify-content:center;
}
#banner{
    background-image: url(/assets/hero-bg.png);
    width: 100%;
    height: 674px;
    background-repeat: no-repeat;
}
.banner-info{
    text-align: center;
    margin: 0 auto;
    padding: 115.5px 341px;
    align-items: center;
}

.banner-info .banner-container{
    height: 380px;
}

.banner-btn{
    width: 229px;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: white;
    color: #30B868;
    padding: 8px 12px 8px 34px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}
.banner-info .banner-content h1{
    color: #30B868;

}
#banner-content-special{
    color: #FFFFFF;
    
}
.banner-content{
    padding-top: 16px;
}
.banner-content p{
    width: 0 auto;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 32px;


}
.banner-info .banner-btn-2{
    width: 198px;
    border-radius: 5px;
    background: none;
    border-color: #FFFFFF;
    color: #FFFFFF;
    padding: 11px 16px;
    font-weight: 600;
    cursor: pointer;
}
#about{
    width: 0 100%;
    text-align: center;
    margin: 0 auto;
    text-align: center;
}
#about .section-heading h2{
    font-size: 48px;
    color: #001931;
    padding-bottom: 16px;

}
#about .section-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    padding-bottom: 44px;
}
#about .about-container .about-info{
    padding: 44px 120px 49px 120px;
    display: flex;
    justify-content: space-around;
}
.about-info .info-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    margin-top: 112.5px;
    align-items: center;
    text-align: center;
    padding-bottom: 16px;




}
.about-info .info-card p{
    font-size: 16px;
    color: #627382;
    padding: 2px;
    padding-bottom: 2px;
    margin-bottom: 20.5px;
    align-items: center;
}

.avater{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(255, 0, 0, 0.283);
    margin-top: 69.5px;
}  
.avater .avater-image{
    width: 32px;
    height: 32px;
    color: white;
    margin: 0 auto;
}  

.info-card{
    gap: 35px;
    align-items: center;
    max-width: 322px;
    height:0 auto;
    box-shadow: 0px 6px 40px 0px #00000014;

    
}
#middle-section{
    width: 0 auto;
    height: 840px;
    background-color: #FFFFFF;
    /* border: 2px solid blue; */
    padding: 120px;
}
#middle-section .middle-section-container{
    width: 100%;
    max-width: 1360px;
    height: 600px;
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 20px #62738238;
}
.middle-section-container .middle-section-container-image{
    width: 600px;
    height: 600px;
    align-items: center;
}
.middle-section-container-text{
    margin: 102px 0 102px 60px;
}
.middle-section-container-text .first{
    font-size: 16px;
    font-weight: 400;
    color:#30B868;
    padding-bottom: 16px;
}
.middle-section-container-text h1{
    font-size: 48px;
    color: #001931;
    padding-bottom: 16px;
}
.middle-section-container-text .second{
    font-size: 16px;
    color: #627382;
    padding-bottom: 40px;
}
.container-text-align{
    padding-top: 40px;
}

.container-text{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color:#001931;
    padding-bottom: 16px;

}
.container-text .balanced-align{
    padding-left: 6px;
}













